<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.project.schedule.dao.WagesInfoMapper">
    <resultMap id="wagesInfo" type="com.human.project.schedule.domain.WagesInfo">
        <result property="userId" column="user_id"/>
        <result property="totalWages" column="totalWages"/>
        <result property="cardNumber" column="card_number"/>
    </resultMap>
    
    <select id="getAllWageInfo" resultMap="wagesInfo">
        SELECT sys_user.user_id, sys_wages.totalWages, sys_user.card_number
        FROM sys_user LEFT OUTER JOIN sys_wages on sys_user.user_id = sys_wages.user_id
        WHERE sys_user.`status` = 0
    </select>

    <insert id="insertWagesRecord">
        insert into sys_wages_record (user_id, total_wages, card_number)
        values
        <foreach collection="wagesInfos" item="temp" index="index" separator=",">
            (#{temp.userId}, #{temp.totalWages}, #{temp.cardNumber})
        </foreach>
    </insert>

</mapper>